*.o
*.so
moc_*
RPMS
Makefile
connd/connectionagent
connd/connectiond_adaptor.cpp
connd/connectiond_adaptor.h
connectionagentplugin/connectiond_interface.cpp
connectionagentplugin/connectiond_interface.h
connectionagentplugin/plugin.moc
documentation.list
installroot/
test/auto/tst_connectionagent/tst_connectionagent
test/auto/tst_connectionagent/tst_connectionagent.moc
test/auto/tst_connectionagent_plugin/connectiond_interface.cpp
test/auto/tst_connectionagent_plugin/connectiond_interface.h
test/auto/tst_connectionagent_plugin/tst_connectionagent_plugintest
test/auto/tst_connectionagent_plugin/tst_connectionagent_plugintest.moc

